// global variables file

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$primary: #006d80;
$secondary: #00a5bf;
$light: #e9edf3;
$text-color: #333;

$vertical-space: 0.5rem;
