// define global variables here

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$primary-color: #4399d4;
$secondary-color: #ff8700;
$light-color: #f4f4f4;
$text-color: #333;

$vertical-space: 0.5rem;
