// define global variables here

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$primary-color: #4399d4;
$secondary-color: #ff8700;
$light-color: #f4f4f4;
$text-color: #333;

$vertical-space: 0.5rem;

// shared styles
%btn {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;

  &:hover {
    transform: scale(0.98);
  }
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Set text colour based on background
@function set-text-colour($color) {
  @if (lightness($color) > 70) {
    @return #333;
  } @else {
    @return white;
  }
}
